<p>
  <b>Heading:</b>
  <%=h @accordion.heading %>
</p>

<p>
  <b>Image:</b>
  <%=h @accordion.image %>
</p>

<p>
  <b>Paragraph:</b>
  <%=h @accordion.paragraph %>
</p>


<%= link_to 'Edit', edit_accordion_path(@accordion) %> |
<%= link_to 'Back', accordions_path %>