<h1>Editing sass_page</h1>

<% form_for(@sass_page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sass_text %><br />
    <%= f.text_field :sass_text %>
  </p>
  <p>
    <%= f.label :sass_name %><br />
    <%= f.text_field :sass_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sass_page %> |
<%= link_to 'Back', sass_pages_path %>